*{
    background-color: #3498db;
    color:#f1f1f1;
    font-family:  "Times New Roman", Times, serif;
    
}
.table-main{
    color: black;
    background-color: #f1f1f1;

}
.btn1{
    border-radius: 5px;
    border-color: grey;
    background-color: #3498db;
    cursor:pointer;
}
.btn1:hover{
    background-color:green;
    border-color: grey;
}
a{
    color:white;
}
